.swiper {
    width: 100%;
    /* height: 100%; */
    border-radius: 16px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border: none;
    height: 100%;
    border-radius: 16px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #007aff;
    margin: 2px;
    padding: 10px 0px;
    border-radius: 50%;
    /* color: ; */
}